<a href="https://colab.research.google.com/github/Pradeepjha88/Cardiac_attack_prediction/blob/master/038_KrushnaPanchvishe_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/train_XnW6LSF.csv")

Q1. Find all statistics using describe function on following

A. Records of every item:: describe various statistics about every item type record

B. Records of every Outlet_Location_Type:: describe various statistics about every Outlet_Location_Type  record

Q2. Analyze location type wise Dairy prodcuct sales

Q3. Which outlets are oldest ? arrange outlets as per their age of establishment.

Q4. Which high size outlets outlets are having minimum low fat / LF products? Is there any small size outlet close to such these values of stocks for low fat / LF?

Q5. Find the items which have MRP higher then 200 and count how many of them are low fat / LF , reg fat / reg


Q6. Find the outlets with highest sales in Tier 2. Also find similar outlets in Tier 3 locations ?
# New Section

In [ ]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
#df['Item_Identifier'].describe()
#df['Item_Weight'].describe()
#df['Item_Fat_Content'].value_counts()
#df['Item_Visibility'].describe()
#df['Item_Type'].value_counts()
#df['Item_MRP'].describe()
df['Outlet_Identifier'].value_counts()
#df['Outlet_Establishment_Year'].describe()
#df['Outlet_Size'].value_counts()
#df['Outlet_Location_Type'].value_counts()
#df['Item_Outlet_Sales'].value_counts()
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

#Q1. Find all statistics using describe function on following

A. Records of every item:: describe various statistics about every item type record

B. Records of every Outlet_Location_Type:: describe various statistics about every Outlet_Location_Type record

In [ ]:
#A. Records of every item:: describe various statistics about every item type record
#df['Item_Identifier'].describe()                  #using describe() will get count of items/unique_item_count and the item with high freq
#df['Item_Identifier'].value_counts()              #using value_counts() will get freq of each item in ascending=False, sort=True of count 
#df.groupby(['Item_Type'])['Item_Identifier'].value_counts()
df.groupby(['Item_Type'])['Item_Identifier'].describe()

                      count unique    top freq
Item_Type
Baking Goods            648    119  FDV60    9
Breads                  251     45  FDR23    8
Breakfast               110     20  FDO37    8
Canned                  649    120  FDW13   10
Dairy                   682    125  FDW26    9
Frozen Foods            856    155  FDX04    9
Fruits and Vegetables  1232    220  FDX20    9
Hard Drinks             214     40  DRN47    9
Health and Hygiene      520     95  NCL53    8
Household               910    170  NCJ30    9
Meat                    425     80  FDY03    8
Others                  169     30  NCL31    9
Seafood                  64     10  FDG33   10
Snack Foods            1200    220  FDV09    8
Soft Drinks             445     80  DRE49    9
Starchy Foods           148     30  FDE11    8

In [ ]:
#B. Records of every Outlet_Location_Type:: describe various statistics about every Outlet_Location_Type record
df.groupby(['Outlet_Location_Type'])['Outlet_Identifier'].describe()

                     count unique     top freq
Outlet_Location_Type
Tier 1                2388      3  OUT049  930
Tier 2                2785      3  OUT035  930
Tier 3                3350      4  OUT027  935

# Q2. Analyze location type wise Dairy prodcuct sales

In [ ]:
# Shows the total sum of the sales ..
df.loc[(df['Item_Type']=='Dairy')].groupby(['Outlet_Location_Type','Outlet_Establishment_Year'])['Item_Outlet_Sales'].sum()
#Shows the description ...
df.loc[(df['Item_Type']=='Dairy')].groupby(['Outlet_Location_Type','Outlet_Establishment_Year'])['Item_Outlet_Sales'].describe()

                                                count  ...         max
Outlet_Location_Type Outlet_Establishment_Year         ...
Tier 1               1985                        49.0  ...    975.3970
                     1997                        78.0  ...   7833.8028
                     1999                        78.0  ...   7646.0472
Tier 2               2002                        69.0  ...   8323.8316
                     2004                        71.0  ...   8479.6288
                     2007                        74.0  ...   9664.7528
Tier 3               1985                        67.0  ...  10236.6750
                     1987                        80.0  ...  10256.6490
                     1998                        43.0  ...   1314.9550
                     2009                        73.0  ...   6275.1650

[10 rows x 8 columns]

# Q3. Which outlets are oldest ? arrange outlets as per their age of establishment.

In [ ]:
# First I sorted the df by 'Outlet_Establishment_Year' then put the condition for 'Outlet_Establishment_Year'==1985
df.loc[(df['Outlet_Establishment_Year']==1985)].sort_values(['Outlet_Establishment_Year'],axis=0,ascending=True)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
5859           FDK51          NaN  ...  Supermarket Type3          3179.8608
5857           FDB04          NaN  ...  Supermarket Type3          3515.4240
5854           FDH56          NaN  ...      Grocery Store           115.8492
5853           NCT06          NaN  ...      Grocery Store           165.7842
...              ...          ...  ...                ...                ...
2920           FDS09          NaN  ...  Supermarket Type3           759.0120
2912           FDJ14          NaN  ...      Grocery Store           399.4800
2901           FDV08          NaN  ...  Supermarket Type3           755.0172
2895           FDM27          NaN  ...      Grocery Store           473.3838
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

# Q4. Which high size outlets outlets are having minimum low fat / LF products? Is there any small size outlet close to such these values of stocks for low fat / LF?

In [ ]:
df['Item_Fat_Content'].replace({'low fat':'Low Fat','LF':'Low Fat','reg':'Regular'},inplace=True)
df_high_LF = df.loc[(df['Outlet_Size']=='High') & (df['Item_Fat_Content']=='Low Fat')]
df_high_LF.groupby(['Outlet_Size','Outlet_Identifier'])['Item_Fat_Content'].min()   
# their is only one high size outlet having low fat products available

Outlet_Size  Outlet_Identifier
High         OUT013               Low Fat
Name: Item_Fat_Content, dtype: object

In [ ]:
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [ ]:
# Small Size Outlet close to the high size Outlet whose is having low fat stock value close to High size Outlet
df_small_LF = df.loc[(df['Outlet_Size']=='Small') & (df['Item_Fat_Content']=='Low Fat')]
df_find_range = df_small_LF.groupby(['Outlet_Size','Outlet_Identifier'])['Item_Fat_Content'].value_counts()
df_find_range.between(596,636,inclusive=True)

Outlet_Size  Outlet_Identifier  Item_Fat_Content
Small        OUT019             Low Fat             False
             OUT035             Low Fat              True
             OUT046             Low Fat              True
Name: Item_Fat_Content, dtype: bool

#Q5. Find the items which have MRP higher then 200 and count how many of them are low fat / LF , reg fat / reg

In [ ]:
df.loc[df['Item_MRP']>200].groupby(['Item_Fat_Content'])['Item_Identifier'].count()

Item_Fat_Content
Low Fat    933
Regular    507
Name: Item_Identifier, dtype: int64

#Q6. Find the outlets with highest sales in Tier 2. Also find similar outlets in Tier 3 locations ?

In [ ]:
#df.loc[df['Outlet_Location_Type']=='Tier 2'].groupby((df['Outlet_Identifier']))['Item_Outlet_Sales'].max()
#df.loc[df['Outlet_Location_Type']=='Tier 3'].groupby((df['Outlet_Identifier']))['Item_Outlet_Sales'].max()
df.loc[(df['Outlet_Location_Type'].str.contains('Tier 2|Tier 3'))].groupby(['Outlet_Location_Type','Outlet_Establishment_Year','Outlet_Identifier'])['Item_Outlet_Sales'].max()
#means the Tier 1 having max_sales in remaining years

Outlet_Location_Type  Outlet_Establishment_Year  Outlet_Identifier
Tier 2                2002                       OUT045                8994.9580
                      2004                       OUT035                8479.6288
                      2007                       OUT017                9664.7528
Tier 3                1985                       OUT027               13086.9648
                      1987                       OUT013               10256.6490
                      1998                       OUT010                1775.6886
                      2009                       OUT018                6768.5228
Name: Item_Outlet_Sales, dtype: float64