<a href="https://colab.research.google.com/github/Pradeepjha88/Cardiac_attack_prediction/blob/master/Cancer%20normalisation%20Sampling_and_Handling_Imbalance_in_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("clean_cervical.csv")

In [ ]:
df.shape

(858, 33)

In [ ]:
df.head()

   V1  V2  V3  V4  V5    V6    V7  ...  V27  V28  V29  V30  V31  V32  Cancer
0  18   4  15   1   0   0.0   0.0  ...    1    1    0    0    0    0       0
1  15   1  14   1   0   0.0   0.0  ...    1    1    0    0    0    0       0
2  34   1  15   1   0   0.0   0.0  ...    1    1    0    0    0    0       0
3  52   5  16   4   1  37.0  37.0  ...    1    1    1    0    1    0       0
4  46   3  21   4   0   0.0   0.0  ...    1    1    0    0    0    0       0

[5 rows x 33 columns]

# Normalization

In [ ]:
X = df.drop('Cancer',axis=1)# X/ known variable or feature variable
Y = df['Cancer']# Target oy Y variable

In [ ]:
from sklearn import preprocessing
x = X.values #returns a numpy array
standard_scaler = preprocessing.StandardScaler()
x_scaled_std = standard_scaler.fit_transform(x)
X = pd.DataFrame(x_scaled_std,columns=X.columns)